
.content {
    display: flex;
    -ms-flex-align: center;
    width: fit-content;
    margin: auto;
}

#name{
    font-weight: bolder;
}

.leftCol{
    margin-right: 10px;
    margin-left: auto;
}

.righCol{
    width: 50%;
    margin-right: auto;
}
.me_pos{
    padding-top: 5px;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 5px;
}
.me_school {
    font-weight: bolder;
}

.me_diploma {
    font-size: 0.8em;
    font-style: italic;
    font-weight: bolder;
}

.panel {
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.avatar {
    min-width: 150px;
    min-height: 150px;
    margin-right: 10px;
}

.infos {
    margin-bottom: 15px;
}

.hobbies {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.scol1{
    margin-bottom: 15px;
}

.scol2{
    margin-bottom: 15px;
}

.dl_resume {
    margin-top: 5px;
}

.hobby1 {
    
    margin-right: 5%;
}

.hobby2 {
    margin-right: 5%;
}

.hobbiesFieldSet{
    margin-top: 15px !important;
}

.hobbyIco {
    font-size: 3.5em;
}