.game_content{
    display: flex;
    flex-direction: column;
}
/*Concept Part*/
.game_info{
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
}

.game_gif{
    width: 60%;
}

.concept_gif{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

.game_concept{
    padding-left: 15px;
    margin: auto;
    width: 40%;
}

/*End Concept Part*/

.game_features{
    margin-bottom: 10px;
}

/*Mob/props Part*/
.game_props{
    display: flex;
    flex-direction: row;
}

.game_props_txt{
    padding-left: 15px;
    margin: auto;
    width: 50%;
}


.game_props_gif_cont{
    width: 50%;
}

.game_props_gif{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}
/*END Mob/props Part*/


/*START coins/sword Part*/
.game_coins{
    display: flex;
    flex-direction: row;
}

.game_coins_txt{
    padding-left: 15px;
    margin: auto;
    width: 50%;
}

.game_coins_gif_cont{
    width: 50%;
}

.game_coins_gif{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}
/*END coins/sword Part*/

/*START light Part*/
.game_light{
    display: flex;
    flex-direction: row;
}

.game_light_txt{
    padding-left: 15px;
    margin: auto;
    width: 50%;
}

.game_light_gif{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

/*END coins/sword Part*/