body {
	margin-left: 0px;
	font-family: 'ms_sans_serif';
}

.desktop {
	width: 100%;
	height: 92.3%;
	position: absolute;
	background-color: teal;
	font-family: 'ms_sans_serif';
	src: url('${ms_sans_serif}') format('woff2');
	
}

.task_bar{
	bottom: 7.8%;
	right: 0;
	width: 100%;
	left: auto;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.task_bar .startMenu p{
	font-weight: 600;
	font-family: 'ms_sans_serif';
    src: url('${ms_sans_serif_bold}') format('woff2');
}

.task_bar p{
	font-weight: 500;
	font-family: 'ms_sans_serif';
    src: url('${ms_sans_serif_bold}') format('woff2');
}

.menu{
	position: absolute;
	right: 0;
	margin-right: 8px;
}

.wind{
	position: absolute;
}
	

@font-face {
    font-family: 'ms_sans_serif';
    src: url('${ms_sans_serif}') format('woff2');
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: 'ms_sans_serif';
    src: url('${ms_sans_serif_bold}') format('woff2');
    font-weight: bold;
    font-style: normal
  }


