body {
	margin-left: 0px;
}

.desktop {
	top: 0px;
	width: 100%;
	height: 90%;
	position: absolute;
	border-color: blue;
	background-color: orange;
}


.task_bar{
	bottom: 0px;
	width: 100%;
	height: 10%;
	position: absolute;
	display: flex;
	flex-direction: row;
}



