.window-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.states{
   display: inline-block;
   position: absolute;
   right: 8px;

}

/* .windowFull{
  top:0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
} */

.windowMin{
  display: none;
}

.states > .button {
    margin: 2px;
}